[submodule "shared-modules"]
	path = shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "builder-tools"]
	path = builder-tools
	url = https://github.com/ProjectSynchro/flatpak-builder-tools.git
